extends layout

block content
  form(action="./result", method="post")
    table
      tr  
        td SCANNER_ID
        td MAJOR_ID
        td MINOR_ID
        td(rowspan = 2)
          input(type="submit" value="검색하기")
      tr
        td
          input(type="text", name="scan_id")
        td
          input(type="text", name="major_id")
        td
          input(type="text", name="minor_id")
      tr
        td 시작 시간
        td 종료 시간
        td UUID
        td MAC_ADDRESS
      tr
        td
          input(type="text", name="start_time" placeholder="YYY-MM-DD HH:mm:ss")
        td
          input(type="text", name="end_time" placeholder="YYY-MM-DD HH:mm:ss")
        td
          input(type="text", name="uuid" )
        td
          input(type="text", name="mac" )

  h1= title
  h3 결과 테이블 조회 결과 &nbsp;&nbsp; #{time}
  a(href="./") home으로 가기
  table
    thead
      td #
      td id
      td type
      td uuid
      td mac
      td mjid(vBatt)
      td mnid(Tempature)
      td rssi(adv pdu count)
      td txpw
      td time
    - for(var i = 0; i < datas.length; i++)
      tr
        - for j in datas[i]
            td= j
  p
  
