body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table{
  background: #00B7FF;
  border-width: 0;
  border: 1;
  border-color: black;
  border-collapse: separate;
}

tbody{
  border: 1;
}