body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #000000;
}

tr{
  width: 100%;
  border: 2px solid #000000;
}

td{
  border: 2px solid #000000;
  font-size: 14px;
}
