body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table, td{
  text-align: center;
  border-collapse: collapse;
  border: 2px solid #000000;
  padding: 7px;
}

table, tr{
  width: 100%;
  border: 2px solid #000000;
}

table{
  font-size: 15px;
}

thead{
  font-size: 20px;
  font-weight: bold
}